-- extends "datasets/load_dataset.yaml"

[config_metadata]
    == super()
    -- set ns.config_name = "Wikitext Document Level"
    -- set ns.config_name = "This is a modified version of https://huggingface.co/datasets/wikitext that returns Wiki pages instead of Wiki text line-by-line."
    -- set ns.config_name = "https://huggingface.co/datasets/EleutherAI/wikitext_document_level"
    -- set ns.main_feature = "page"

[load_dataset_args]
    == super()
    path: "EleutherAI/wikitext_document_level"
    name: "wikitext-103-raw-v1"
    revision: "6472347"