-- extends 'project.yaml'

[config_metadata]
    == super()
    -- set ns.config_name = "Pipeline Trainer Control"
    -- set ns.config_description = "Test simple pipeline setup"
    -- set ns.model_name = "control"
    -- set ns.log_name = "piepline"
    -- set ns.trainer_class = 'trainers/pipeline_trainer.yaml'
    -- set ns.nproc_per_node = 2

[trainer_args]
    == super()
    # **pipeline**
    n_microbatches: 4

[trainer_callbacks]
    -- include 'pipeline.callbacks'

[datacollator]
    == super()
    # **pipeline**
    # Pipeline Parallel requires constant input tensor shapes
    padding: "max_length"
    truncation: True

#-------------------- pipeline.callbacks --------------------
-- extends 'tiny.callbacks'

[callback_list]
    == super()

    # **pipeline**
    text_gen_callback: null # Disable text generation callback; not compatible with pipeline trainer.