-- extends 'project.yaml'

[config_metadata]
    == super()
    -- set ns.config_name = "Experimental Llama"
    -- set ns.config_description = "Try a Post-Norm Llama model"
    -- set ns.model_name = "exp_llama"

    ## Search for model in our "custom_models" directory
    -- set ns.model_project_dir = joinpath(project_dir, 'custom_models/llama')

    ## Select the config to use from the model project
    -- set ns.model_project_config = "post_layer_norm.yaml"

    ## That's it! For model details, see the 'custom_models' directory
