-- extends "configs/smollm-corpus/cosmopedia-v2.yaml"
-- from "packed.yaml" import map_function, map_kwargs, dynamic_args

[config_metadata]
    == super()
    -- set ns.config_name = "Fast Cosmopedia v2 packed"
    -- set ns.config_description = "Fast Cosmopedia v2 Packed Sequences"

[map_function]
{{ map_function(max_length | default(512), stride | default(0)) }}

[map_kwargs]
    == super()
{{ map_kwargs() }}

[dynamic_args]
    == super()
{{ dynamic_args() }}