-- extends "configs/smollm-corpus/fast-cosmopedia-v2.yaml"

[config_metadata]
    == super()
    -- set ns.config_name = "Fast Cosmopedia v2 packed"
    -- set ns.config_description = "Fast Cosmopedia v2 Packed Sequences"

[map_function]
## Note: Values in "preprocess_args" override the defaults specified here.
.define: &map_function !partial:forgather.ml.datasets:block_tokenize_fn
    max_length: {{ max_length | default(512)}}
    overflow: True
    packed: True
    shuffle_output: True
    stride: {{ stride | default(0)}}
    packing_strategy: "best_fit"
    min_len: 16
    add_bos: True
    add_eos: True

[train_dataset]
    == super()
    map_fn: *map_function

[eval_dataset]
    == super()
    map_fn: *map_function

[test_dataset]
    == super()
    map_fn: *map_function

[dynamic_args]
    == super()
    max_length:
        names: "--max-length"
        type: "int"
        help: "Maximum length of output sequences."
    stride:
        names: "--stride"
        type: "int"
        help: "Number of tokens to repeat from previous overflowing example."