-- extends "models/model_type.yaml"

[config_metadata]
    == super()
    -- set ns.config_name = "Llama 7B"
    -- set ns.config_description = "Default Dynamic Llama, 7B parameters"
    -- set ns.model_name = "7b"

[model_definition]
    -- include "config.model"

#------------- config.model --------------
-- extends "models/transformers/dynamic_llama.yaml"

[model_tokenizer]
tokenizer: &tokenizer !singleton:transformers:AutoTokenizer.from_pretrained@tokenizer
    arg0: "TheBloke/Llama-2-7B-GPTQ"
    legacy: False
    model_max_length: 4096
