-- extends "configs/default.yaml"

[config_metadata]
    == super()
    -- set ns.config_name = "Tiny Mistral 4M"
    -- set ns.config_description = "A tiny Mistral with 4M parameters"
    -- set ns.model_name = "mistral_4m"

[model_definition]
    -- include "config.4m.model"

#------------- config.4m.model --------------
-- extends "config.default.model"

[model_tokenizer]
tokenizer: &tokenizer !call:forgather:from_project
    project_dir: "{{ joinpath(ns.forgather_dir, 'examples', 'tokenizers', 'wikitext') }}"
    config_template: "2k_32k.yaml"
    pp_debug: False

[model_config]
    == super()
     # **Mistral 4M**
    hidden_size: {{ hidden_size | toyaml(256) }}
    intermediate_size: {{ intermediate_size | toyaml(768) }}
    num_attention_heads: {{ num_attention_heads | toyaml(2) }}
    num_hidden_layers: {{ num_hidden_layers | toyaml(4) }}
    num_key_value_heads: {{ num_key_value_heads | toyaml(1) }}
    sliding_window: {{ sliding_window | toyaml(4096) }}
