-- extends "configs/7B.yaml"

[config_metadata]
    == super()
    -- set ns.config_name = "Mistral 7B Instruct"
    -- set ns.config_description = "As per Mistral-Instruct-v0.2"
    -- set ns.model_name = model_name | default("mistral_7b_instruct")

[model_definition]
    -- include "config.7b_instruct.model"

#------------- config.7b_instruct.model --------------
-- extends "config.default.model"

[model_tokenizer]
tokenizer: &tokenizer !singleton:transformers:AutoTokenizer.from_pretrained@tokenizer
    arg0: "mistralai/Mistral-7B-Instruct-v0.2"
    legacy: False
    model_max_length: 32768

[model_config]
    == super()
    # **Mistral 7B Instruct**
    dim_feedforward: 14336
    num_attention_heads: 32
    num_kv_heads: 8
    sliding_window: null
    rope_theta: 1000000.0
