-- extends "project.yaml"

[config_metadata]
    == super()
    -- set ns.config_name = "Accel DDP Checkpoint"
    -- set ns.config_description = "Test AccelTrainer DDP checkpointing"
    -- set ns.log_name = "accel_trainer"
    -- set ns.trainer_class = 'trainers/accel_trainer.yaml'
    -- set ns.nproc_per_node = 2

[trainer_definition]
    -- include 'accel_trainer_ddp.trainer_config'