-- extends "projects/causal_lm_def.yaml"

[config_metadata]
    == super()
    -- set ns.config_name = "Default Qwen3"
    -- set ns.config_description = "Qwen3 8B"
    -- set ns.model_name = model_name | default("qwen_8b")

[model_definition]
    -- include "project.model"

#------------- project.model --------------
-- extends "models/transformers/dynamic_llama.yaml"

[model_meta_config]
    == super()
    -- set ns.model_name = ns.config_name
    -- set ns.model_description = ns.config_description
    -- set ns.model_short_name = "qwen3"

[model_tokenizer]
tokenizer: &tokenizer !singleton:transformers:AutoTokenizer.from_pretrained@tokenizer
    arg0: "Qwen/Qwen3-8B"
    legacy: False
    model_max_length: {{ max_model_length | default(40960) }}

[qk_norm_factory]
.define: &qk_norm_factory !partial:torch.nn:RMSNorm@qk_norm_factory
    eps: !var "rms_norm_eps"

[model_config]
    == super()
    # **Custom Qwen3**
    hidden_size: {{ hidden_size | default(4096) }}
    num_attention_heads: {{ num_attention_heads | default(32) }}
    num_kv_heads: {{ num_kv_heads | default(8) }}
    d_head: {{ d_head | default(128) }}
    num_hidden_layers: {{ num_hidden_layers | default(36) }}
    dim_feedforward: {{ dim_feedforward | default(12288) }}
    rope_theta: !!float {{ rope_theta | default(1000000.0) }}
    rms_norm_eps: !!float {{ rms_norm_eps | default(1.0e-06) }}
