-- extends "datasets/load_dataset.yaml"

[config_metadata]
    == super()
    -- set ns.config_name = "General Stories Collection"
    -- set ns.config_description = "A great synthetic datasets consists of around 1.3 million stories especially meant for General audience."
    -- set ns.source = "https://huggingface.co/datasets/ajibawa-2023/General-Stories-Collection"
    -- set ns.load_method = "forgather.ml.datasets:fast_load_iterable_dataset"

[map_kwargs]
    == super()
    batch_size: 32

[load_dataset_args]
    == super()
    path: "ajibawa-2023/General-Stories-Collection"

[train_dataset_split]
    == super()
    split: "train[10000:]"

[validation_dataset_split]
    == super()
    split: "train[0:1000]"

[test_dataset_split]
    == super()
    split: "train[1000:10000]"