-- extends "project.yaml"

[config_metadata]
    == super()
    -- set ns.config_name = "DDP Trainer 4x"
    -- set ns.config_description = "Test DDP Trainer with 4 GPUs"
    -- set ns.log_name = "4gpu"
    -- set ns.nproc_per_node = 4

[dataset_project]
    == super()
    shard_dataset: True

[trainer_args]
    == super()

    # We can disable 'dispatch_batches' when we know that the dataset will be sharded.
    dispatch_batches: False

[optimizer]
    == super()
    lr: 2.0e-3
