-- extends "project.yaml"

## This is essentially the same as 'sharded_dataset.yaml', except using the 
## HF iterable dataset implementation. This provides a basis for comparison for sharded_fast_dataset.yaml
[config_metadata]
    == super()
    -- set ns.config_name = "Sharded Iterable Dataset"
    -- set ns.config_description = "Use HF iterable version of Tiny Stories. Split dataset into 1 shard per rank"
    -- set ns.dataset_config ="tinystories-iter.yaml"
    -- set ns.log_name = "sharded_iterable"

[dataset_project]
    == super()
    shard_dataset: True
    select_range: ":10%"

[trainer_definition]
    -- include 'config.trainer_config'

#-------------------- config.trainer_config --------------------
-- extends 'project.trainer_config'

[trainer_args]
    == super()

    # We can disable 'dispatch_batches' when we know that the dataset will be sharded.
    dispatch_batches: False