{%- macro h2(name='') %}{{ "{:#^40}".format(' ' + name + ' ') }}{% endmacro %}
{%- macro h3(name='') %}{{ '#**** ' + name + ' ****' }}{% endmacro %}
{%- macro sep() %}{{ "{:#^40}".format('') }}{% endmacro %}