-- extends "datasets/load_dataset.yaml"

[config_metadata]
    == super()
    -- set ns.config_name = "Tiny Stories"
    -- set ns.config_description = "Dataset containing synthetically generated (by GPT-3.5 and GPT-4) short stories that only use a small vocabulary."
    -- set ns.source = "https://arxiv.org/abs/2305.07759"

[load_dataset_args]
    == super()
    path: "roneneldan/TinyStories"
    revision: "f54c09f"

[validation_dataset_split]
    == super()
    split: "validation[0:500]"

[test_dataset_split]
    == super()
    split: "validation[500:]"
